<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>About</title>

  <!-- Custom fonts for this template-->
  <link href="vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
  <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">

  <!-- Custom styles for this template-->
  <link href="css/sb-admin-2.min.css" rel="stylesheet">

</head>

<body id="page-top">

  <!-- Page Wrapper -->
  <div id="wrapper">

    <!-- Sidebar -->
    <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

      <!-- Sidebar - Brand -->
      <a class="sidebar-brand d-flex align-items-center justify-content-center" href="/main">
        <div class="sidebar-brand-icon rotate-n-15">
          <i class="fas fa-magic"></i>
        </div>
        <div class="sidebar-brand-text mx-3">MoneyHocusPocus</div>
      </a>

      <!-- Divider -->
      <hr class="sidebar-divider my-0">

      <!-- Nav Item - Dashboard -->
      <li class="nav-item">
        <a class="nav-link" href="/main">
          <i class="fas fa-fw fa-info-circle"></i>
          <span>About this site</span></a>
      </li>

      <li class="nav-item">
        <a class="nav-link" href="/subscription">
          <i class="fas fa-fw fa-dollar-sign"></i>
          <span>Subscription</span></a>
      </li>

      <li class="nav-item">
        <a class="nav-link" href="/earlybird">
          <i class="fas fa-fw fa-kiwi-bird"></i>
          <span>Early bird</span></a>
      </li>

      <li class="nav-item">
        <a class="nav-link" href="/premium">
          <i class="fas fa-fw fa-award"></i>
          <span>Premium</span></a>
      </li>

      <li class="nav-item">
        <a class="nav-link" href="/bigpp">
          <i class="fas fa-fw fa-thumbs-up"></i>
          <span>Big PP</span></a>
      </li>

      <li class="nav-item">
        <a class="nav-link" href="/logout">
          <i class="fas fa-fw fa-sign-out-alt"></i>
          <span>Logout</span></a>
      </li>

     
      <hr class="sidebar-divider d-none d-md-block">

      

    </ul>
    <!-- End of Sidebar -->

    <!-- Content Wrapper -->
    <div id="content-wrapper" class="d-flex flex-column">

      <!-- Main Content -->
      <div id="content">
        
        <!-- Begin Page Content -->
        <div class="container-fluid">

          <!-- Page Heading -->
          <h2><strong>About this site:</strong></h2>          
          <h1 class="h5 text-gray-800">Did you know that salsa is now the number one condiment in America? You know why? Because people like to say "salsa." "Excuse me, do you have salsa?" "We need more salsa." "Where is the salsa? No salsa?"</h1>
          <h1 class="h5 text-gray-800">You can probably buy salsa online, but not here, we don’t sell salsa here, we sell something else, something you won’t find anywhere in the world, we are in the business of selling nothing, not any kind of nothing, the truest nothing of them all. You read that right, nothing. I’ll say it again, nothing, and you’re paying for it.</h1>
          <h1 class="h5 text-gray-800">“But, sir!” you might say, “Why should i pay for something and receive nothing?” Who says you have to always receive something? Forget the something, you’re now in the nothing acquiring business.</h1>
          <h1 class="h5 text-gray-800">So when you go to the bank, to your accountant, to your significant other, to your friend, to whomever it might concern, and you tell them about this site and they’re gonna ask “What did you buy?” you say “Nothing”, and you won’t be lying.</h1>
          <h1 class="h5 text-gray-800">So what is this site about?</h1>
          <h1 class="h5 text-gray-800">It's about nothing? Absolutely nothing.</h1>
          <h1 class="h5 text-gray-800">Everybody’s selling something, we sell nothing.</h1>                      
          <h1 class="h5 text-gray-800">Click on the items on the left side and through the power of electricity and the internet you'll acquire any nothing you desire.</h1>

        </div>
        
        <!-- /.container-fluid -->

      </div>
      <!-- End of Main Content -->

      <!-- Footer -->
      <footer class="sticky-footer bg-white">
        <div class="container my-auto">
          <div class="copyright text-center my-auto">
            <span>Copyright &copy; MoneyHocusPocus 2020</span>            
            <a class="nav-link" href="/terms">              
              <span>Terms & Conditions / Privacy Policy / Refund Policy / Contact</span></a> 
          </div>   
        </div>
      </footer>
      <!-- End of Footer -->

    </div>
    <!-- End of Content Wrapper -->

  </div>
  <!-- End of Page Wrapper -->

  <!-- Scroll to Top Button-->
  <a class="scroll-to-top rounded" href="#page-top">
    <i class="fas fa-angle-up"></i>
  </a>

  <!-- Logout Modal-->
  <div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
          <button class="close" type="button" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">×</span>
          </button>
        </div>
        <div class="modal-body">Select "Logout" below if you are ready to end your current session.</div>
        <div class="modal-footer">
          <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
          <a class="btn btn-primary" href="login-page.ejs">Logout</a>
        </div>
      </div>
    </div>
  </div>

  <!-- Bootstrap core JavaScript-->
  <script src="vendor/jquery/jquery.min.js"></script>
  <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

  <!-- Core plugin JavaScript-->
  <script src="vendor/jquery-easing/jquery.easing.min.js"></script>

  <!-- Custom scripts for all pages-->
  <script src="js/sb-admin-2.min.js"></script>

</body>

</html>
